General Example:

listen l1
    bind 0.0.0.0:4321
    mode tcp
    timeout connect  4000
    timeout client   180000
    timeout server   180000
    server srv1 host.example.com:1234

Postgres Example:

listen postgres
    bind 0.0.0.0:4343
    mode tcp
    timeout connect  4000
    timeout client   180000
    timeout server   180000
    server postgresServer postgres.host.com:5432
    
MySQL Example:

listen MySQL
      bind 0.0.0.0:3306
      timeout connect 10s
      timeout client 1m
      timeout server 1m
      mode tcp
      server mySQLServer mysql.host.com:3306
